@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.resultsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scorePanel {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.scoreCard > h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 90px;
}

.scorePanel > h2 {
  width: 350px;
  margin-left: 30px;
}

.videoPanel {
  width: 37.5vw;
  text-align: center;
  height: 70vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoPanel > h2 {
  padding: 10px;
}

.keywordButtons {
  display: flex;
  justify-content: center;
  width: 40vw;
}


.keywordButtons > button:hover {
  cursor: pointer;
  background-color: lightgrey;
  transition: 0.2s;
}

.wordsPanel {
  width: 75vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  background-color: #acd2ff;
  margin-top: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.bestWordsPanel {
  width: 40vw;
  text-align: center;
  height: 70vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestWordsPanel > h2 {
  padding: 10px;
}

.bestWords {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.keywordButtons > button {
  width: 90px;
  height: 70px;
  /* font-weight: bold; */
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  /* border: solid red 2px; */
  background-color: white;
  padding: 5px;
  border: none;
  /* animation: 1s infinite alternate enlarge; */
}

/* @keyframes enlarge {
  from {
    transform: scaleX(1.01);
    transform: scaleY(1.01);
  }

  to {
    transform: scaleX(0.99);
    transform: scaleY(.99);
  }
} */

.correctWord {
  /* font-weight: bold; */
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 60px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  background-color: white;
  padding: 5px;
  /* border: solid green 2px; */
}

.descText {
  font-size: 15px;
  font-weight: 150;
  margin-top: 2%;
  margin-bottom: 10%;
}

.replayDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-top: 15px;
}

.form > input {
  height: 10px;
  width: 300px;
  border-radius: 15px;
  border: none;
  padding: 15px;
}

.form > button {
  background-color: #dceefe;
  border: none;
  border-radius: 15px;
  width: 150px;
  height: 35px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

.form > button:hover {
  cursor: pointer;
  background-color: #e6f2ff;
  transition: 0.2s;
}

.study-again {
  font-size: 15px;
  font-weight: 150;
}

.replaybtndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.form--input {
  margin-top: 20px;
}