@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.startPanel {
  background-color: #acd2ff;
  height: 350px;
  width: 500px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.startPanelText {
  display: flex;
  flex-direction: column;
}

.startPanelText > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 300px;
  height: 55px;
}

.startPanelText > p {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
